#dashboard_page {
    padding-top: 40px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.dashboard_section {
    background: #ddd;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 10px;
}

#prayer_description {
    color: #333;
}

#prayer_user {
    text-align: right;
}

.dashboard_table {
    width: 100%;
    border-collapse: collapse;
}

.dashboard_table tr td {
    vertical-align: middle;
    padding: 10px;
}

.dashboard_table tr td:nth-child(1) {
    width: 50px;
    background: none !important;
}

.dashboard_table tr td a {
    color: #555;
    text-decoration: underline;
}

.dashboard_table tr:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.dashboard_header {
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
}

.dashboard_button {
    padding: 5px;
    background: #eee;
    cursor: pointer;
    margin-left: auto;
    text-align: center;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    width: 100px;
    box-sizing: border-box;
}

.dashboard_button:hover {
    background: #fff;
}

.user_icon {
    width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid #333;
}

.other_button {
    width: 100%;
    background: #eee;
    border: none;
    margin-bottom: 5px;
}

a .other_button {
    text-decoration: none;
    color: #333;
}

@media screen and (max-width: 700px) {
    .dashboard_button {
        padding: 10px;
        width: 100%;
    }

    .jsh_alert_button {
        color: #333;
        width: 100%;
        display: block;
        background: #ddd;
        padding: 5px;
        text-align: center;
        margin-bottom: 5px;
        box-sizing: border-box;
    }
}